
  .Game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .Board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3 auto);
    gap: 10px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 1200px;
  }
  
  .card button {
    width: 100%;
    height: 175px;
    background-color: #5a5a5a;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .card button:hover {
    background-color: #353535;
    border-radius: 5px;
    transform: scale(1.05);
  }

  .card button.flipped {
    background-color: #979797;
    color: #ffffff;
    cursor: default;
  }
  
  .card button.matched {
    background-color: #276e2b;
    color: #ffffff;
    cursor: default;
  }

  .score {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 30px;
    text-align: center;
  }
  
  .gameOver {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }
  
  .gameOver h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .gameOver p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .gameOver button {
    font-size: 1.25rem;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .gameOver button:hover {
    background-color: #218838;
  }

  .restartButton {
    font-size: 1.25rem;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .restartButton:hover {
    background-color: #0056b3;
}
  