h1 {
    text-align: center;
    color: #000000;
}


.score {
    text-align: center;
}

.Board {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}


.card:hover {
    background-color: #c9c9d8;
}

.backbutton {
    background-color: #c22424;
    width: 100px;
    color: black;
}

.backbutton:hover {
    background-color: #5e0f0f;
}