.Scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.HighScoresTable {
    width: 90%;
    height: calc(80vh - 110px);
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    border: 2px solid #616161;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
    overflow: auto;
}

.HighScoresTable thead {
    background-color: #bdbdbd;
    border-bottom: 2px solid #616161;
}

.HighScoresTable th {
    padding: 12px 15px;
    color: #495057;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.05em;
}

.HighScoresTable td {
    padding: 12px 15px;
    color: #212529;
}

.HighScoresTable tbody tr {
  border-bottom: 1px solid #616161;
}