.DescriptionContainer {
    width: 90%;
    height: calc(80vh - 110px);
    margin: 20px 0;
    overflow: auto;
}

.Description {
    display: flex;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 20px;
    margin: 5px;
    list-style-position: inside;
    justify-content: center;
}

.FeatureList {
    display: flex;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 20px;
    margin: 5px;
    list-style-position: inside;
    justify-content: center;
    margin: 20px;
}

.FeatureList-item {
    margin: 10px;
}

.AboutImage {
    display: flex;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 20px;
    margin: 5px;
    justify-content: center;
}
